[Unit]
Description=Kaztilisozdikbot
After=multi-user.target
Wants=multi-user.target

[Service]
User=ubuntu
EnvironmentFile=/home/ubuntu/kaztili-bot.env
ExecStart=/home/ubuntu/KaztiliSozdikBot/kaztili.py
WorkingDirectory=/home/ubuntu/KaztiliSozdikBot
Restart=always
RestartSec=10
TimeoutStopSec=90
KillMode=process

[Install]
WantedBy=multi-user.target
